<?xml version="1.0"?>
<model>
    <name>turtleBot</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Arnav Tijare</name>
        <email>tijarearnav@gmail.com</email>
    </author>

    <description>
        My Turtle. A robot model for simulation in Gazebo using URDF/Xacro.
    </description>

    <!-- Add the target Gazebo version -->
    <gazebo_version>11</gazebo_version>

    <!-- Add tags to improve searchability -->
    <tags>robot, turtlebot, simulation, gazebo, URDF, xacro</tags>

    <!-- Add license information -->
    <license>MIT</license>
</model>
